:root {
  --white: #fff;
  --accent-color: #4d5ae5;
  --title-main-color: #2e2f42;
  --main-color-text: #434455;
  --cloud: #f4f4fd;
  --active-elements-color: #404bbf;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--white);
  color: var(--main-color-text);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.header-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-dark-part {
  color: var(--title-main-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-link {
  color: var(--title-main-color);
  font-weight: 500;
  line-height: 1.5;
  /* letter-spacing: 0.32px; */
}

.header-link:hover,
.header-link:focus {
  color: var(--active-elements-color);
}

.heder-adress {
  font-style: normal;
}

.heder-adress-link {
  color: var(--main-color-text);
  line-height: 1.5;
}

.heder-adress-link:hover,
.heder-adress-link:focus {
  color: var(--active-elements-color);
}
.hero-section {
  background-color: var(--title-main-color);
  text-align: center;
  line-height: 1.5;
}
/* Header 1 */
.title-hero-section {
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-button {
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
  background: var(--accent-color);
  line-height: 1.5;
}
.hero-button:focus,
.hero-button:hover {
  background-color: var(--active-elements-color);
}

.title-advantages {
  color: var(--title-main-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.text-advantages {
  /* color: var(--main-color-text); */
  line-height: 1.5;
}
.team-sections {
  background-color: #f4f4fd;
}
.title-section {
  color: var(--title-main-color);
  text-align: center;

  /* Header 2 */
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.06em;
  text-transform: capitalize;
}

.persons-card {
  background-color: var(--white);
}

.persons-team {
  color: var(--title-main-color);
  text-align: center;

  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.06em;
}
.job-title {
  /* color: var(--main-color-text); */
  text-align: center;
  line-height: 1.5;
}
/* portfolio */
.portfolio-section {
  background-color: var(--white);
}
.title-section {
  color: var(--title-main-color);
  text-align: center;

  /* Header 2 */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.title-apps {
  color: var(--title-main-color);

  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.type-apps {
  /* color: var(--main-color-text); */
  /* Body */
  line-height: 1.5; /* 150% */
}
.footer-section {
  background: var(--title-main-color);
}

.footer-logo-white-part {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  /* Body */
  line-height: 1.5;
}
